<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>PostIt</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style type="text/css">
    body {
      background: url('./images/background-image.png');
    }
    .body-container {
      background-color: rgba(0, 0, 0, 0.51);
    }
    .authentication {
      margin-right: 50%
    }
  </style>
</head>
<body>
  <div class="body-container">
  <nav class="purple darken-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">PostIt</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Read Documentation</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s6 offset-s3 valign">
          <div class="row">
          <ul class="tabs tab-profile z-depth-1 purple darken-1" style="width: 100%;">
              <li class="tab" style="width: 50%;"><a class="white-text waves-effect waves-light active" href="#login-page"><i class="mdi-editor-border-color"></i>Login</a>
              </li>
              <li class="tab" style="width: 50%;"><a class="white-text waves-effect waves-light" href="#signup-page"><i class="mdi-image-camera-alt"></i> Register</a>
              </li>                    
          <div class="indicator" style="right: 616px; left: 0px;"></div>
          </ul>
            <div id="login-page" class="col s12 z-depth-4 card-panel">
                    <!-- Login begin-->
                    <form id="login" class="login-form">
                      <div class="row">
                        <div class="input-field col s12 center">
                          <h5 class="center login-form-text">Welcome, Login to get started</h5>
                        </div>
                      </div>
                      <div class="row margin">
                        <div class="input-field col s12">
                          <i class="mdi-social-person-outline prefix"></i>
                          <input id="username" type="text">
                          <label for="username" class="center-align">Username</label>
                        </div>
                      </div>
                      <div class="row margin">
                        <div class="input-field col s12">
                          <i class="mdi-action-lock-outline prefix"></i>
                          <input id="password" type="password">
                          <label for="password">Password</label>
                        </div>
                      </div>
                      <div class="row">          
                        <div class="input-field col s12 m12 l12  login-text">
                            <input type="checkbox" id="remember-me" />
                            <label for="remember-me">Remember me</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <a href="index.html" class="btn purple darken-1 waves-effect waves-light col s12">Login</a>
                        </div>
                      </div>
                      <div class="row">
                      <div class="input-field col s12">
                        <p class="margin center medium-small sign-up"><a href="page-forgot-password.html">Forgot password ?</a></p>
                      </div>        
                      </div>

                    </form>
                  </div>
          <!-- Login - end -->
          <!-- SignUp begin -->
            <div id="signup-page" class="col s12 z-depth-4 card-panel">
              <form class="login-form">
                <div class="row">
                  <div class="input-field col s12 center">
                    <h4>Register</h4>
                    <p class="center">Join to our community now !</p>
                  </div>
                </div>
                <div class="row margin">
                  <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input id="fullname" type="text">
                    <label for="fullname" class="center-align">Full Name</label>
                  </div>
                </div>
                <div class="row margin">
                  <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input id="username" type="text">
                    <label for="username" class="center-align">Username</label>
                  </div>
                </div>
                <div class="row margin">
                  <div class="input-field col s12">
                    <i class="mdi-communication-email prefix"></i>
                    <input id="email" type="email">
                    <label for="email" class="center-align">Email</label>
                  </div>
                </div>
                <div class="row margin">
                  <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="password" type="password">
                    <label for="password">Password</label>
                  </div>
                </div>
                <div class="row margin">
                  <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="password-again" type="password">
                    <label for="password-again">Password again</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <a href="index.html" class="btn purple darken-1 waves-effect waves-light col s12">Register Now</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!--- SignUp end -->
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer purple darken-1">
    <div class="footer-copyright">
      <div class="container">
      Project by <a class="orange-text text-lighten-3" href="http://materializecss.com">Pythagoras</a>
      </div>
    </div>
  </footer>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
